/* Gateway field styles.
 * The following will apply to all fields settings-wide.
----------------------------------------------------------------------------- */
.form-table [name*="_test_"]:not(:focus) {
	border-color: #f0ad4e;
}

.form-table textarea {
	width: 400px !important;
}

.form-table textarea[name*="_vendor_"] {
	height: 100px !important;
}
