/* Gateway field styles.
 * The following will apply to all fields settings-wide.
----------------------------------------------------------------------------- */
.woo-paddle-gateway-page [name*="_test_"]:not(:focus) {
	border-color: #f0ad4e;
}

.woo-paddle-gateway-page [for*="_vendor_verify"] {
	pointer-events: none;
}

.woo-paddle-gateway-page [for*="_vendor_verify"] input {
	width: 0;
	height: 0;
	border: 0;
}

.woo-paddle-gateway-page [for*="_vendor_verify"] input::before {
	margin-top: 0;
}

.woo-paddle-gateway-page [for*="_vendor_verify"] [checked="checked"]::before {
	content: "\2705";
	color: var(--wc-green, #7ad03a);
}

.woo-paddle-gateway-page [for*="_vendor_verify"] input:not([checked="checked"])::before {
	content: "\274C";
	color: var(--wc-red, #a00);

}

.woo-paddle-gateway-page [name*="_vendor_public_key"] {
	cursor: not-allowed;
}

.woo-paddle-gateway-page .description .spinner {
	float: left;
	visibility: visible;
	margin-left: 0;
}
